@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{

    margin: 0;
    padding: 0;

}

.banner{

    background-image: url(/images/background1.avif);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;

}

.banner-heading{

    margin-top: 150px;

}

.blog .blog-img{

background-image: url(/images/firstimg.jpg);
width: 50%;
height: 90vh;
margin-bottom: 20px;
background-size: cover;
background-position: center;

}

ul{

    list-style-type: none;
}

ul a{

    text-decoration: none;
    color: white;
}

ul a:hover{

color: yellow;
transition: 0.5s

}